<configuration>
    <dllmap dll="libzstd" os="windows" wordsize="32" target="Lib32/libzstd.dll" />
    <dllmap dll="libzstd" os="windows" wordsize="64" target="Lib64/libzstd.dll" />
    <dllmap dll="libzstd" os="linux" wordsize="32" target="Lib32/libzstd.so" />
    <dllmap dll="libzstd" os="linux" wordsize="64" target="Lib64/libzstd.so" />
    <dllmap dll="libzstd" os="osx"   wordsize="32" target="Lib32/libzstd.dylib" />
    <dllmap dll="libzstd" os="osx"   wordsize="64" target="Lib64/libzstd.dylib" />
</configuration>